## Data Structures

### <u>Data Structures</u>

1. Create a list of 5 fruits and print the third fruit.

In [2]:
fruits =["Mango","Banana","Avocado","Kiwi","Watermelon"]
fruits[2]

'Avocado'

2. Create a dictionary with keys: name, age. Print the value of age.

In [7]:
NameAgeCollection={"Njeri":15}
print(NameAgeCollection["Njeri"])

15

3. Define a tuple with three numbers. Try modifying it. What happens?

In [14]:
#- Tuple is ordered and Unchangeable, allow duplicate values
numbers=(1,2,3,3)
numbers[0] =5
print(numbers[0])

TypeError: 'tuple' object does not support item assignment

4. Create a set from a list with duplicate values.

In [16]:
#sets  unordered, unchangeable, and do not allow duplicate values.
hobbies ={"walkinng","swimming","running","running"}
print(hobbies)

{'swimming', 'running', 'walkinng'}

### <u>Challenge</u>
#### Create a program that:

- Takes 5 user inputs and stores them in a list
- Converts the list into a set and prints the unique values

In [22]:
print("List 5 IT Careers")
careers = [input(),input(),input(),input(),input()]
print(careers)
print(set(careers))

List 5 IT Careers
['SE', 'QA', 'DSA', 'SE', 'QA']
{'QA', 'DSA', 'SE'}